@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Questrial&display=swap");
@-webkit-keyframes showDots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showDots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 120rem;
}

.button {
  font-size: 1.5rem;
  padding: 0.5rem;
  background: none;
  border: none;
  border-bottom: 1px solid #111111;
  margin-top: 3rem;
  letter-spacing: 0.1rem;
}

.headingThree {
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;
}

.headingTwo {
  font-family: 'Questrial', sans-serif;
  font-size: 2.7rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  color: #111111;
  margin-bottom: 1rem;
  line-height: 2.3rem;
}

.limeColorSpan {
  color: #00FF00;
}

.header {
  width: 100vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/images/headerBackground2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.header__headingOne {
  font-family: 'Questrial', sans-serif;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  padding: 1.5rem;
  background-color: #00FF00;
}

.header__headingTwo {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  background-color: #FFFFFF;
  padding: 0.3rem 0.6rem;
  margin-top: 3rem;
}

.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.boxHeading__cube {
  width: 250px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

.boxHeading__cubeImage {
  opacity: 0;
  padding: 1rem;
  -webkit-animation: 5s linear 1s infinite alternate showDots;
          animation: 5s linear 1s infinite alternate showDots;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  max-width: 1200px;
}

.work__boxText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.work__slider {
  width: 100%;
  height: 50vh;
  position: relative;
  margin-top: 3rem;
}

.slide__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__button--next {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 1000;
}

.slider__button--prevent {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 1000;
}

.slider__button {
  background: none;
  border: none;
  font-size: 4rem;
  color: #00FF00;
}

@media (max-width: 500px) {
  .work__slider {
    margin-top: 3rem;
  }
}

@media (min-width: 768px) {
  .button {
    font-size: 2rem;
    margin-top: 8rem;
  }
  .headingTwo {
    font-size: 3.2rem;
    font-weight: 400;
    margin-bottom: 4rem;
  }
  .header__headingOne {
    font-size: 5.5rem;
  }
  .header__headingTwo {
    font-size: 2.5rem;
    letter-spacing: 1rem;
  }
  .aboutUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    margin: 0 auto;
    max-width: 1200px;
  }
  .aboutUs__boxHeading {
    position: relative;
    width: 50%;
    padding-right: 5rem;
  }
  .aboutUs__boxParagraph {
    width: 50%;
  }
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5rem 5rem;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work__boxText {
    padding: 5rem 3rem;
    max-width: 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .work__slider {
    width: 100%;
    height: 40vh;
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 0px #00FF00;
            box-shadow: 0px 0px 10px 0px #00FF00;
  }
  .work__backgroundBox {
    width: 600px;
    height: 500px;
    position: absolute;
    background-color: #F5F5F5;
    z-index: -1;
    left: 0;
  }
  .headingTwo--work {
    display: block;
    width: 65%;
  }
}

@media (min-width: 1200px) {
  .headingTwo {
    font-size: 5rem;
  }
  .paragraph {
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .button {
    font-size: 1.8rem;
  }
  .header {
    width: 100vw;
    height: 100vh;
  }
  .boxHeading__cube {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 30%;
    right: 10rem;
  }
  .work {
    width: 100%;
    margin: 10rem auto;
  }
  .work__slider {
    width: 100%;
    height: 60vh;
    position: relative;
  }
  .work__backgroundBox {
    width: 1400px;
    height: 700px;
    position: absolute;
    background-color: #F5F5F5;
    z-index: -1;
    left: 0;
    border-bottom: 1px solid #00FF00;
  }
}
/*# sourceMappingURL=main.css.map */