@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Questrial&display=swap");
@-webkit-keyframes showDots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showDots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 300rem;
  margin: 0 auto;
  overflow: hidden;
}

.button {
  font-size: 1.5rem;
  padding: 0.5rem;
  background: none;
  border: none;
  border-bottom: 1px solid #111111;
  margin-top: 3rem;
  letter-spacing: 0.1rem;
  z-index: 0;
}

.button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #00FF00;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button:hover::after {
  height: 100%;
}

.button--navigationShow {
  position: fixed;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: none;
  background-color: #00FF00;
  z-index: 1000;
  cursor: pointer;
}

.headingFour {
  font-family: 'Questrial', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;
}

.headingThree {
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;
}

.headingTwo {
  font-family: 'Questrial', sans-serif;
  font-size: 2.7rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  color: #111111;
  margin-bottom: 1rem;
  line-height: 2.3rem;
}

.limeColorSpan {
  color: #00FF00;
}

.link {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.link:hover {
  background-color: #00FF00;
  padding: 1rem;
}

.navigation {
  position: fixed;
  width: 30rem;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #111111;
  color: #FFFFFF;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__menu {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 3rem;
  padding: 1rem 2rem;
}

.navigation__paragraph {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.navigation__contact {
  display: none;
}

.header {
  width: 100vh;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/images/headerBackground2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.header__headingOne {
  font-family: 'Questrial', sans-serif;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  padding: 1.5rem;
  background-color: #00FF00;
}

.header__headingTwo {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  background-color: #FFFFFF;
  padding: 0.3rem 0.6rem;
  margin-top: 3rem;
}

.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.boxHeading__cube {
  width: 250px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

.boxHeading__cubeImage {
  opacity: 0;
  padding: 1rem;
  -webkit-animation: 5s linear 1s infinite alternate showDots;
          animation: 5s linear 1s infinite alternate showDots;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  max-width: 1200px;
}

.work__boxText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.work__slider {
  width: 100%;
  height: 50vh;
  position: relative;
  margin-top: 3rem;
}

.slide__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__button--next {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 1000;
}

.slider__button--previous {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 1000;
}

.slider__button {
  background: none;
  border: none;
  font-size: 4rem;
  color: #00FF00;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  max-width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.team__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60vh;
  position: relative;
  margin: 2.5rem auto;
}

.teamBox__image {
  width: 100%;
  height: 100%;
}

.teamBox__text {
  position: absolute;
  bottom: 5vh;
  background-color: rgba(0, 255, 0, 0.6);
  z-index: 1;
  width: 100%;
  height: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teamBox__headingTwo {
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0.5rem;
}

.teamBox__headingThree {
  letter-spacing: 0.3rem;
  font-weight: 400;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.teamBox__paragraph {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.teamBox__span {
  padding: 0.5rem;
}

.team__headingBox {
  width: 100%;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  max-width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
}

.clients__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem auto;
}

.clients__client {
  width: 50%;
  padding: 1rem;
}

.clients__clientImage {
  width: 100%;
  -webkit-filter: contrast(0%);
          filter: contrast(0%);
}

.clients__background {
  background: #F5F5F5;
  width: 100vw;
  margin-top: 10rem;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  max-width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.portfolio__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50vh;
  position: relative;
  margin: 2.5rem auto;
}

.portfolioBox__image {
  width: 100%;
  height: 100%;
}

.portfolioBox__text {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 255, 0, 0.6);
  z-index: 1;
  width: 100%;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolioBox__headingTwo {
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0.5rem;
}

.portfolioBox__headingThree {
  letter-spacing: 0.3rem;
  font-weight: 400;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.portfolioBox__paragraph {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.portfolioBox__span {
  padding: 0.5rem;
}

.headingThree--footer,
.headingTwo--footer {
  color: #FFFFFF;
}

.button--footer {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.paragrap--footer {
  color: #FFFFFF;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding: 5rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  background-color: #111111;
}

.footer__input {
  background: none;
  border: none;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding: 1rem;
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.footer__textarea {
  background: none;
  color: white;
  font-size: 1.6rem;
  min-width: 100%;
  min-height: 20vh;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

.footer__socialMediaBox {
  margin-top: 4rem;
}

.footer__span {
  font-size: 2rem;
  padding: 1rem;
}

@media (max-width: 500px) {
  .work__slider {
    margin-top: 3rem;
  }
}

@media (min-width: 768px) {
  .button {
    font-size: 2rem;
    margin-top: 8rem;
  }
  .headingTwo {
    font-size: 3.2rem;
    font-weight: 400;
    margin-bottom: 4rem;
  }
  .header__headingOne {
    font-size: 5.5rem;
  }
  .header__headingTwo {
    font-size: 2.5rem;
    letter-spacing: 1rem;
  }
  .aboutUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    margin: 0 auto;
    max-width: 1200px;
  }
  .aboutUs__boxHeading {
    position: relative;
    width: 50%;
    padding-right: 5rem;
  }
  .aboutUs__boxParagraph {
    width: 50%;
  }
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5rem 5rem;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work__boxText {
    padding: 5rem 3rem;
    max-width: 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .work__slider {
    width: 100%;
    height: 40vh;
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 0px #00FF00;
            box-shadow: 0px 0px 10px 0px #00FF00;
  }
  .work__backgroundBox {
    width: 600px;
    height: 500px;
    position: absolute;
    background-color: #F5F5F5;
    z-index: -1;
    left: 0;
  }
  .headingTwo--work {
    display: block;
    width: 65%;
  }
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .team__box {
    width: 30%;
    height: 35vh;
  }
  .team__box__text {
    position: absolute;
    bottom: 2vh;
    background-color: rgba(0, 255, 0, 0.6);
    z-index: 1;
    width: 100%;
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .clients__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .clients__client {
    width: 25%;
    padding: 2rem;
  }
  .clients__clientImage {
    width: 100%;
    height: 100%;
  }
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .portfolio__headingBox {
    display: block;
    width: 100%;
  }
  .portfolio__box {
    width: 30%;
    height: 25vh;
  }
  .portfolioBox__text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 255, 0, 0.6);
    z-index: 1;
    width: 100%;
    height: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__input {
    max-width: 80%;
  }
  .footer__textarea {
    min-width: 80%;
  }
  .navigation__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 2rem;
  }
}

@media (min-width: 1200px) {
  .headingTwo {
    font-size: 5rem;
  }
  .paragraph {
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .button {
    font-size: 1.8rem;
  }
  .header {
    width: 100vw;
    height: 100vh;
  }
  .boxHeading__cube {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 30%;
    right: 10rem;
  }
  .work {
    width: 100%;
    margin: 10rem auto;
  }
  .work__slider {
    width: 100%;
    height: 60vh;
    position: relative;
  }
  .work__backgroundBox {
    width: 1400px;
    height: 700px;
    position: absolute;
    background-color: #F5F5F5;
    z-index: -1;
    left: 0;
    border-bottom: 1px solid #00FF00;
  }
  .team__box {
    height: 50vh;
  }
  .teamBox__text {
    width: 100%;
    height: 100%;
    bottom: 0;
    -webkit-clip-path: circle(5% at 50% 50%);
            clip-path: circle(5% at 50% 50%);
    -webkit-transition: 2s;
    transition: 2s;
  }
  .teamBox__text:hover {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
  .teamBox__headingTwo {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }
  .teamBox__headingThree {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .teamBox__span {
    font-size: 1.8rem;
  }
  .teamBox__paragraph {
    margin-top: 1rem;
  }
  .team__box--one {
    border-bottom: 1px solid #00FF00;
  }
  .team__box--two {
    border-top: 1px solid #00FF00;
  }
  .team__box--three {
    border-right: 1px solid #00FF00;
  }
  .clients__client {
    width: 22%;
    padding: 3rem;
    margin: 0 auto;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .clients__clientImage {
    width: 100%;
    -webkit-filter: contrast(0%);
            filter: contrast(0%);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .clients__client:hover .clients__clientImage {
    -webkit-filter: contrast(100%);
            filter: contrast(100%);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .clients__client:nth-child(1):hover {
    border-top: 1px solid #00FF00;
    border-left: 1px solid #00FF00;
  }
  .clients__client:nth-child(2):hover {
    border-top: 1px solid #00FF00;
  }
  .clients__client:nth-child(3):hover {
    border-top: 1px solid #00FF00;
  }
  .clients__client:nth-child(4):hover {
    border-top: 1px solid #00FF00;
    border-right: 1px solid #00FF00;
  }
  .clients__client:nth-child(5):hover {
    border-bottom: 1px solid #00FF00;
    border-left: 1px solid #00FF00;
  }
  .clients__client:nth-child(6):hover {
    border-bottom: 1px solid #00FF00;
  }
  .clients__client:nth-child(7):hover {
    border-bottom: 1px solid #00FF00;
  }
  .clients__client:nth-child(8):hover {
    border-bottom: 1px solid #00FF00;
    border-right: 1px solid #00FF00;
  }
  .clients__background {
    background: #F5F5F5;
    width: 100vw;
    margin-top: 10rem;
  }
  .portfolio__box {
    width: 30%;
    height: 30vh;
  }
  .portfolio__box:hover .portfolioBox__text {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
  .portfolioBox__text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 255, 0, 0.6);
    z-index: 1;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-clip-path: circle(0% at 50% 50%);
            clip-path: circle(0% at 50% 50%);
  }
  .portfolioBox__headingTwo {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }
  .portfolioBox__headingThree {
    font-size: 2rem;
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */