@media ( min-width: 1200px )
    .headingTwo
        font-size: 5rem

    .paragraph
        font-size: 1.8rem
        line-height: 3rem

    .button
        font-size: 1.8rem

    .header
        width: 100vw
        height: 100vh