@media ( min-width: 768px )
    .button
        font-size: 2rem
        margin-top: 8rem

    .headingTwo
        font-size: 3.2rem
        font-weight: 400
        margin-bottom: 4rem

    .header

        &__headingOne
            font-size: 5.5rem

        &__headingTwo
            font-size: 2.5rem
            letter-spacing: 1rem

    .aboutUs 
        display: flex
        flex-direction: row
        padding: 5rem
        justify-content: center
        align-items: flex-start
        text-align: left
        margin: 0 auto
        max-width: 1200px

        &__boxHeading
            position: relative
            width: 50%
            padding-right: 5rem
                  
        &__boxParagraph
            width: 50%

    .work
        display: flex
        flex-direction: row
        padding: 5rem 5rem
        text-align: center
        align-items: center

        &__boxText
            padding: 5rem 3rem
            max-width: 50%
            align-items: flex-start
            text-align: left

        &__slider
            width: 100%
            height: 40vh
            position: relative
            box-shadow: 0px 0px 10px 0px $lime

        &__backgroundBox
            width: 600px
            height: 500px
            position: absolute
            background-color: $whiteSmoke
            z-index: -1
            left: 0
        
    .headingTwo--work
        display: block
        width: 65%

    .team
        display: flex
        flex-direction: row

    .team__box
        width: 30%
        height: 35vh

        &__text
            position: absolute
            bottom: 2vh
            background-color: $limeRGBA
            z-index: 1
            width: 100%
            height: 110px
            display: flex
            flex-direction: column
            justify-content: center

    .clients__box
        display: flex
        flex-wrap: wrap

    .clients__client
        width: 25%
        padding: 2rem

    .clients__clientImage
        width: 100%
        height: 100%

    .portfolio
        display: flex
        flex-direction: row

    .portfolio__headingBox
        display: block
        width: 100%

    .portfolio__box
        width: 30%
        height: 25vh

    .portfolioBox__text
        position: absolute
        bottom: 0
        background-color: $limeRGBA
        z-index: 1
        width: 100%
        height: 7rem
        display: flex
        flex-direction: column
        justify-content: center

    .footer

        &__input
            max-width: 80%

        &__textarea
            min-width: 80%
            
        