@media ( min-width: 768px )
    .button
        font-size: 2rem
        margin-top: 8rem
        
    .header

        &__headingOne
            font-size: 5.5rem

        &__headingTwo
            font-size: 2.5rem
            letter-spacing: 1rem


    