@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Questrial&display=swap');

@import "./_colors";
@import "./_keyframes"

*,
::after,
::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    font-family: 'Montserrat', sans-serif
    // font-family: 'Questrial', sans-serif

.wrapper
    max-width: 300rem
    margin: 0 auto
    overflow: hidden

.button
    font-size: 1.5rem
    padding: 0.5rem
    background: none
    border: none
    border-bottom: 1px solid $black
    margin-top: 3rem
    letter-spacing: 0.1rem
    z-index: 0

.button::after
    content: ""
    position: absolute
    bottom: 0
    left: 0
    height: 0
    width: 100%
    background-color: $lime
    z-index: -1
    transition: 0.5s

.button:hover::after
    height: 100%

.button--navigationShow
    position: fixed
    top: 5%
    right: 5%
    font-size: 2rem
    border-radius: 50%
    width: 5rem
    height: 5rem
    border: none
    background-color: $lime
    z-index: 1000
    cursor: pointer

.headingFour
    font-family: 'Questrial', sans-serif
    font-size: 1.5rem
    font-weight: 300
    text-transform: uppercase
    letter-spacing: 0.4rem
    margin-bottom: 2rem

.headingThree
    font-family: 'Questrial', sans-serif
    font-size: 1rem
    font-weight: 300
    text-transform: uppercase
    letter-spacing: 0.4rem
    margin-bottom: 2rem

.headingTwo
    font-family: 'Questrial', sans-serif
    font-size: 2.7rem
    font-weight: 400
    margin-bottom: 4rem
    
.paragraph
    font-size: 1.4rem
    font-weight: 400
    color: $black
    margin-bottom: 1rem
    line-height: 2.3rem

.limeColorSpan
    color: $lime

.link
    transition: 0.5s

.link:hover,
    background-color: $lime
    padding: 1rem

.navigation
    position: fixed
    width: 30rem
    height: 100vh
    top: 0
    right: 0
    background-color: $black
    color: $white
    z-index: 100
    display: flex
    flex-direction: column
    justify-content: center

    &__menu
        height: 50%
        display: flex
        flex-direction: column
    

    &__link
        text-decoration: none
        color: $white
        font-size: 3rem
        padding: 1rem 2rem

    &__paragraph
        font-size: 2rem
        margin-bottom: 2rem
    &__contact
        display: none

.header
    width: 100vh
    height: 70vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-image: url("/images/headerBackground2.jpg")
    background-position: center
    background-repeat: no-repeat
    text-align: center

    &__headingOne
        font-family: 'Questrial', sans-serif
        font-size: 3rem
        letter-spacing: 0.3rem
        padding: 1.5rem
        background-color: $lime

    &__headingTwo
        font-size: 2rem
        font-weight: 400
        text-transform: uppercase
        letter-spacing: 0.4rem
        background-color: $white
        padding: 0.3rem 0.6rem
        margin-top: 3rem

.aboutUs
    display: flex
    padding: 5rem 2rem
    flex-direction: column
    justify-content: center
    align-items: center
    align-content: center
    text-align: center

.boxHeading__cube
    width: 250px
    height: 200px
    display: flex
    flex-wrap: wrap
    display: none

.boxHeading__cubeImage
    opacity: 0
    padding: 1rem
    animation: 5s linear 1s infinite alternate showDots

.work
    display: flex
    padding: 5rem 2rem
    flex-direction: column
    justify-content: center
    align-items: center
    align-content: center
    text-align: center
    max-width: 1200px

    &__boxText
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        align-content: center
        position: relative

    &__slider
        width: 100%
        height: 50vh
        position: relative
        margin-top: 3rem

.slide__image
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0

.slider__button--next 
    position: absolute
    top: 50%
    right: 5%
    z-index: 1000

.slider__button--previous
    position: absolute
    top: 50%
    left: 5%
    z-index: 1000

.slider__button
    background: none
    border: none
    font-size: 4rem
    color: $lime

.team
    display: flex
    padding: 5rem 2rem
    flex-direction: column
    justify-content: center
    align-items: center
    align-content: center
    text-align: center
    max-width: 1200px
    flex-wrap: wrap
    margin: 0 auto

    &__box
        display: flex
        width: 100%
        height: 60vh
        position: relative
        margin: 2.5rem auto

.teamBox

    &__image
        width: 100%
        height: 100%

    &__text
        position: absolute
        bottom: 5vh
        background-color: $limeRGBA
        z-index: 1
        width: 100%
        height: 11rem
        display: flex
        flex-direction: column
        justify-content: center

    &__headingTwo
        font-family: 'Questrial', sans-serif
        text-transform: uppercase
        font-size: 2rem
        padding: 0.5rem

    &__headingThree
        letter-spacing: 0.3rem
        font-weight: 400
        padding: 0.5rem
        font-size: 1.3rem

    &__paragraph
        font-size: 1.5rem
        padding: 0.5rem


    &__span
        padding: 0.5rem

.team__headingBox
    width: 100%

.clients
    display: flex
    padding: 5rem 2rem
    flex-direction: column
    justify-content: center
    align-content: center
    text-align: center
    max-width: 1200px
    flex-wrap: wrap
    margin: 0 auto
    position: relative

    &__box
        display: flex
        flex-direction: row
        flex-wrap: wrap
        margin: 2rem auto

    &__client
        width: 50%
        padding: 1rem
    
    &__clientImage
        width: 100%
        filter: contrast(0%)
    
    &__background
        background: $whiteSmoke
        width: 100vw
        margin-top: 10rem

.portfolio
    display: flex
    padding: 5rem 2rem
    flex-direction: column
    justify-content: center
    align-items: center
    align-content: center
    text-align: center
    max-width: 1200px
    flex-wrap: wrap
    margin: 0 auto

    &__box
        display: flex
        width: 100%
        height: 50vh
        position: relative
        margin: 2.5rem auto

.portfolioBox

    &__image
        width: 100%
        height: 100%

    &__text
        position: absolute
        bottom: 0
        background-color: $limeRGBA
        z-index: 1
        width: 100%
        height: 8rem
        display: flex
        flex-direction: column
        justify-content: center

    &__headingTwo
        font-family: 'Questrial', sans-serif
        text-transform: uppercase
        font-size: 2rem
        padding: 0.5rem

    &__headingThree
        letter-spacing: 0.3rem
        font-weight: 400
        padding: 0.5rem
        font-size: 1.3rem

    &__paragraph
        font-size: 1.5rem
        padding: 0.5rem


    &__span
        padding: 0.5rem

.headingThree--footer,
.headingTwo--footer
    color: $white

.button--footer
    color: $white
    border-bottom: 1px solid $white

.paragrap--footer
    color: $white

.footer__form
.footer,
    display: flex
    width: 100vw
    padding: 5rem 2rem
    flex-direction: column
    justify-content: center
    align-items: center
    align-content: center
    text-align: center
    flex-wrap: wrap
    margin: 0 auto
    background-color: $black

    &__input
        background: none
        border: none
        color: $white
        border-bottom: 1px solid $white
        padding: 1rem
        width: 100%
        font-size: 1.6rem
        margin-bottom: 1rem

    &__textarea
        background: none
        color: white
        font-size: 1.6rem
        min-width: 100%
        min-height: 20vh
        padding: 1rem
        border: none
        border-bottom: 1px solid $white

    &__socialMediaBox
        margin-top: 4rem

    &__span
        font-size: 2rem
        padding: 1rem


@import "./_small";
@import "./_medium";
@import "./_large";